body {
  font-family: Kanit;
  background-color: #1a1a1a;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30%;
  background-color: #1a1a1a;
}

.col{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 160px 320px;
  background-color: rgb(246, 242, 242);
  border-radius: 10px;
  height: 5px;
  width: 5px;
  bottom: 100px;
  top: 100px;
  position: absolute;
  }
  

img{
  display: block;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 250px;
  border-radius: 10px;
}

h2{
  background-color: grey;
  color: white;
  font-size: 24px;
  font-weight: bold;
  padding: 10px 20px;
  position: absolute;
  top: -5px;
  left: 530px;
  z-index: 0;
 
}

h3{
  display: block;
  padding: 10px 20px;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: azure;
  background-color: #413e3e;
  left: 10px;
  right: 160px;
  bottom: -10px;
  z-index: 0;
 

}